body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/Cadastro.svg);
    background-size: cover;
}

.register-container {
    width: 400px;
    margin: 40px auto;
    background: white;
    box-shadow: 0 0 20px #3334;
    border-radius: 30px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 2em;
    color: #23233c;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

label {
    font-size: 1em;
    color: #23233c;
}

input {
    width: 100%;
    padding: 9px;
    font-size: 1em;
    border: 1px solid #cacaca;
    border-radius: 8px;
}

.senha-info {
    font-size: 0.85em;
    color: #888;
    margin-bottom: 12px;
}

button {
    padding: 11px;
    background: #6868a0;
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: #23233c;
}
