header.header {
    background: #F0F1FF;
}

.center-content {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.box-1 {
    display: flex;
    gap: 100px;
    color: black;
    align-items: flex-start;
}

.picture{
    width: 390px;
}

.dados {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 20px;
}

span.borda {
    background: #D9AE4B;
    color: white;
    padding: 8px 0;
    border-radius: 10px;
    text-align: center;
}

span.linha {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 8px 0;
}

.location{
    display: flex;
    align-items: center;
    gap: 10px;
}

.box-2{
    display: flex;
    color: black;
    gap: 150px;
}

.descricao{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
  