/* RESET BÁSICO */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
     background: #f8f8ff;
}

/* CONTAINER PRINCIPAL */
.page {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
    background: #3d4170;
    color: #fff;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    height: 60vh;
}
.sidebar h1 {
  margin: 0 0 40px;
  font-weight: 700;
}
.sidebar nav a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 15px;
  font-weight: 500;
}
.sidebar nav a:hover {
  text-decoration: underline;
}
.sidebar nav a .icon {
  font-size: 18px;
}
.sidebar nav a.active {
  border-left: 4px solid #fff;
  padding-left: 12px;
  font-weight: 700;
}

/* ÁREA PRINCIPAL */
main.content {
  flex: 1;
  padding: 40px 60px;
  background: #fff;
}

/* PERFIL SUPERIOR */
.profile-header {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
  color: #888;
  font-size: 14px;
}
.profile-header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ddd;
}
.profile-header .info p {
  margin: 4px 0;
}
.profile-header .edit {
  font-size: 12px;
  color: #555;
  cursor: pointer;
}
