* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 300px);
  height: 64px;
  background-color: #F0F1FF;
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  border-radius: 20px;
}


.header-content {
  width: 100%;
  padding: 0 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #EDE8E8;
  border-radius: 20px;
  padding: 6px 10px;
}

.search-box input {
  border: none;
  background: transparent;
  outline: none;
  padding: 6px;
  width: 180px;
  font-size: 14px;
}

.search-btn {
  border: none;
  background-color: #7b6ed6; /* roxo */
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
}

.page {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* SIDEBAR */
.sidebar {
    width: 265px;
    background: #3d4170;
    color: #fff;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 30px;
}

.sidebar h1 {
  margin: 0 0 40px;
  font-weight: 700;
  display: flex;
  align-self: center;
  margin-top: 40px;
}

.sidebar nav {
  margin-top: 80px;
}

.sidebar nav a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
  text-decoration: none;
  padding: 12px 16px;
  position: relative;
  transition: background 0.2s ease;
}

.sidebar nav a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: white;
  opacity: 0;
  transition: opacity 0.2s ease;
  border-radius: 0 4px 4px 0;
}

.sidebar nav a:hover {
  background: rgba(255,255,255,0.08);
}

.sidebar nav a:hover::before {
  opacity: 1;
}
