* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

p, h3 {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 80px;
}

h2 {
    margin-bottom: 25px;
}

h3 {
    margin-bottom: 25px;
}

.initial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 80px 20px;
    background-color: white;
    color: #47487D;
}

section.width {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.first h2 {
    margin-top: 40px;
}

section.second,
section.fourth {
    display: flex;
    align-items: center;
    gap: 60px;           
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.agrupamento {
    display: flex;
    flex-direction: column;
}

div.agrupamento.width {
    max-width: 600px;
}

img.height {
    height: 275px;
    max-width: 100%;
}

section.fourth p {
    margin-bottom: 50px;
}

@media (max-width: 900px) {
    section.second,
    section.fourth {
        flex-direction: column;
        text-align: center;
    }

    h1 {
        font-size: 56px;
    }
}

.container, header.navbar {
    background-color: #201840;
}

