* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

p, h3 {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 80px;
}

h2, h3 {
    margin-bottom: 25px;
}

.initial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
    text-align: center;
    gap: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 80px 20px;
    background-color: white;
    color: #47487D;
}

.content section {
    max-width: 1100px;
    margin: 0 auto;
}

.first,
.third {
    display: flex;
    flex-direction: column;
}

.second,
.fourth {
    display: flex;
    align-items: center;
    gap: 60px;
}

.agrupamento {
    display: flex;
    flex-direction: column;
    flex: 1;
}

img.height {
    height: 275px;
    max-width: 100%;
}

.first h2 {
    margin-top: 40px;
}

section.fourth p {
    margin-bottom: 50px;
}

@media (max-width: 900px) {
    .second,
    .fourth {
        flex-direction: column;
        text-align: center;
    }

    h1 {
        font-size: 56px;
    }
}

.container,
header.navbar {
    background-color: #201840;
}

.container {
    padding: 120px 20px;
}


