.container {
    background-image: url("/static/img/ceuazul.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.principal {
    text-align: center;
    margin-top: 120px;
    font-family: "Montserrat", sans-serif;
}

.principal h1 {
    font-size: 72px;
    font-weight: 900;
}

.principal p {
    margin-top: 10px;
    font-size: 18px;
}

.cards {
    margin: 120px auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 80%;
}

.card {
    width: 280px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

.card h3 {
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
}

.card p {
    font-family: "Inter", sans-serif;
}

.purple {
    background: #34355E;
    transition: all 0.3s ease;
}

.purple:hover {
    filter: brightness(1.2); 
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.35); 
}

.center {
    margin-top: 120px;
    text-align: center;
    font-size: 30px;
}

.bg-light {
  background-color: white;
  color: #222;
  padding: 60px 0;
}

.projetos {
  margin: 100px auto;
  padding: 0 40px;
  font-family: "Montserrat", sans-serif;
}

.carousel-container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carousel {
  display: flex;
  gap: 30px;
  padding: 20px 0;
  scroll-snap-align: start;
}

.projeto-card {
  min-width: 300px;
  background: #1c1c1c;
  border-radius: 20px;
  padding: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  text-align: center;
}

.projeto-card img {
  border-radius: 12px;
  margin-bottom: 15px;
}

.projeto-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.projeto-card p {
  font-size: 0.95em;
  font-family: "Inter", sans-serif;
}

.projeto-card a {
  display: inline-block;
  margin-top: 10px;
  color: #D9AE4B;
  text-decoration: none;
  font-weight: bold;
}

section.lavanda{
    background-image: url("/static/img/lavanda.svg");
    display: flex;
    flex-direction: column;
    align-items: center;
}


