* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    color: white;
}

.bg-dark {
  background-color: black;
  color: white;
  padding: 60px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    font-family: "Inter", sans-serif;
}

.navbar nav a {
    margin-left: 30px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.btn-login {
    border: 1px solid white;
    padding: 6px 18px;
    border-radius: 6px;
}

.principal {
    text-align: center;
    margin-top: 120px;
    font-family: "Montserrat", sans-serif;
}

.principal h1 {
    font-size: 72px;
    font-weight: 900;
}

.principal p {
    margin-top: 10px;
    font-size: 18px;
}

.cards {
    margin: 120px auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 80%;
}

.card {
    width: 280px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

.card h3 {
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
}

.card p {
    font-family: "Inter", sans-serif;
}

.yellow {
    background: #D9AE4B;
    color: #222;
    transition: box-shadow 0.1s ease; 
}

.yellow:hover {
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.35);
}

.purple {
    background: #34355E;
    transition: all 0.3s ease;
}

.purple:hover {
    filter: brightness(1.2); 
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.35); 
}

.center {
    margin-top: 120px;
    text-align: center;
    font-size: 30px;
}

.bg-light {
  background-color: white;
  color: #222;
  padding: 60px 0;
}

.projetos {
  margin: 100px auto;
  padding: 0 40px;
}

.carousel-container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carousel {
  display: flex;
  gap: 30px;
  padding: 20px 0;
  scroll-snap-align: start;
}

.projeto-card {
  min-width: 300px;
  background: #1c1c1c;
  border-radius: 20px;
  padding: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  text-align: center;
}

.projeto-card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.projeto-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.projeto-card p {
  font-size: 0.95em;
  font-family: "Inter", sans-serif;
}

.projeto-card a {
  display: inline-block;
  margin-top: 10px;
  color: #D9AE4B;
  text-decoration: none;
  font-weight: bold;
}

.ver-mais {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  color: #D9AE4B;
  text-decoration: none;
}

