<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASTRA</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

<header class="navbar bg-dark">
    <img src="{{url_for('static', filename='logo.png')}}" alt="ASTRA" class="logo">

    <nav>
        <a href="/sobre">Sobre nós</a>
        <a href="/contato">Contato</a>
        <a href="/login" class="btn-login">Login</a>
    </nav>
</header>

{% block content %}{% endblock %}

</body>
</html>
