<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>ASTRA</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base2.css') }}">

  {% block styles %}{% endblock %}
</head>

<body>

<header class="header">
  <div class="header-content">
    <div class="search-box">
      <input class="search-input" type="text" placeholder="Pesquisar..." />
      <a href="#"><img src="{{url_for('static', filename='img/Search.svg')}}" class="icon"></a>
    </div>

    <button class="action-btn">
      <a href="/"><img src="{{url_for('static', filename='img/Logout.png')}}" class="icon2"></a>
    </button>
  </div>
</header>

<div class="dashboard-layout">

  <aside class="sidebar">
    <h1>ASTRA</h1>

    <nav>
      <a href="/areaaluno"><img src="{{url_for('static', filename='img/home.svg')}}" class="icon">Início</a>
      <a href="/visualizarprojetos"><img src="{{url_for('static', filename='img/chart.svg')}}" class="icon">Projetos</a>
      <a href="#"><img src="{{url_for('static', filename='img/nuvem.svg')}}" class="icon">Central de serviços</a>
      <a href="#"><img src="{{url_for('static', filename='img/envelope.svg')}}" class="icon">Mensagens</a>
    </nav>
  </aside>

  <main class="content">
    {% block content %}{% endblock %}
  </main>

</div>

<footer>
  <div class="column-1">
    <h2>Fale Conosco</h2>
    <p>
      Você tem dúvidas ou sugestões? Não fique na dúvida! Nossas redes sociais estão sempre abertas para você.
      Entre em contato, compartilhe suas ideias e faça parte dessa comunidade vibrante. Juntos, podemos
      construir um espaço melhor, cheio de conhecimento e inovação.
    </p>

    <div class="icons">
      <img src="{{ url_for('static', filename='img/Instagram Circle.svg') }}">
      <img src="{{ url_for('static', filename='img/Letter.svg') }}">
      <img src="{{ url_for('static', filename='img/WhatsApp.svg') }}">
    </div>
  </div>

  <div class="column-2">
    <h2>Créditos:</h2>
    <p>Sarah Beatriz Buarque da Silva</p>
    <p>Vitória Emilly de Brito Nogueira</p>
    <p>Yasmin da Silva Vitoriano Medeiros</p>
    <p>Miguel Fernandes Kolodiuk</p>
  </div>

  <div class="column-3">
    <img src="{{ url_for('static', filename='img/IFRN.svg') }}" class="logo">
    <img src="{{ url_for('static', filename='img/LOGO.svg') }}" class="logo">
  </div>
</footer>

</body>
</html>
