<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
</head>
<body>
    <div class="register-container">
        <h2>Cadastre-se</h2>
        <form method="POST">

            <select name="perfil" class="perfil-select" required>
                <option value="aluno">Aluno</option>
                <option value="servidor">Servidor</option>

            </select>

            <input type="text" name="nome" required placeholder="Digite seu nome completo">
            <input type="text" name="matricula" placeholder="Matrícula">
            <input class="data" type="date" name="nascimento" placeholder="DD/MM/AA" required>
            <input type="email" name="email" required placeholder="Ex: Digite@seuemail.com">
            <input type="text" name="telefone" required minlength="11" required maxlength="11" placeholder="Ex: 84999999999">
            <input type="password" name="senha" required minlength="8" placeholder="Digite sua senha (mín. 8 caracteres)">
            <button type="submit">Finalizar cadastro</button>
        </form>
    </div>
</body>
</html>
