{% extends "base2.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/editarperfil.css') }}">
{% endblock %}

{% block content %}
<div class="center-content">

  <div class="profile-header">
    <div class="avatar">
      <img src="{{ url_for('static', filename='img/user.svg') }}">
      <b>
        <span class="edit-text">Editar</span>
      </b>
    </div>

    <div class="profile-info">
      <p>Matrícula: 278490556</p>
      <p>Email: emilly@ifrn.edu.br</p>
      <p>Currículo Lattes: emilly@ifrn.edu.br</p>
    </div>
  </div>

  <form class="profile-form">
    <div class="orientador">
        <div class="field">
            <label>Nome Social:</label>
            <input type="text">
        </div>
        
        <div class="field">
            <label>Cargo:</label>
            <select>
                <option value="">Selecione</option>
                <option value="coordenador">Coordenador</option>
                <option value="orientador">Orientador</option>
                <option value="professor">Professor</option>
            </select>
        </div>
    </div>


    <label>Número de celular:</label>
    <input type="text">

    <div class="row">
      <div>
        <label>Data de nascimento:</label>
        <input type="date">
      </div>

      <div>
        <label>Gênero:</label>
        <select>
          <option>Feminino</option>
          <option>Masculino</option>
        </select>
      </div>
    </div>

    <div class="buttons">
      <button type="submit" class="btn-save">Salvar alterações</button>
      <button type="button" class="btn-delete">Excluir conta</button>
    </div>
  </form>

</div>
{% endblock %}
