{% extends "base2.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/editarperfil.css') }}">
{% endblock %}

{% block content %}
<div class="center-content">

  <div class="profile-header">
    <div class="avatar">
      <img src="{{ url_for('static', filename='img/user.svg') }}">
      <b>
        <span class="edit-text">Editar</span>
      </b>
    </div>

    <div class="profile-info">
      <p>Nome: {{ usuario.nome }}</p>
      <p>Matrícula: {{ usuario.matricula }}</p>
      <p>Email: {{ usuario.email }}r</p>
      <p>Perfil: {{ usuario.perfil }}</p>
    </div>
  </div>

  <form class="profile-form" method="POST">
    <label>Nome:</label>
    <input type="text" name="nome" class="form-control" value="{{ usuario.nome }}">

    <label>Número de Telefone:</label>
    <input type="text" name="telefone" class="form-control" value="{{ usuario.telefone }}">

    <div class="row">
      <div>
        <label>Email:</label>
        <input type="text" name="email" class="form-control" value="{{ usuario.email }}">
      </div>

      <div>
        <label>Matrícula:</label>
        <input type="text" name="matricula" class="form-control" value="{{ usuario.matricula }}">
      </div>
    </div>

    <div class="row">
      <div>
        <label>Data de nascimento</label>
        <input type="date" name="nascimento" class="form-control" value="{{ usuario.nascimento }}">
      </div>

      <div>
        <label>Senha:</label>
        <input type="password" class="form-control">
      </div>
    </div>

    <div class="buttons">
      <form action="{{ url_for('editarperfil') }}" method="get">
        <button type="submit" class="btn-save">Editar meus dados</button>
      </form>
      <form action="{{ url_for('excluir_usuario') }}" method="post" style="display:inline;">
        <button type="submit" class="btn-delete"
          onclick="return confirm('Tem certeza que deseja excluir sua conta? Esta ação não pode ser desfeita.')">
          Excluir Conta
        </button>
      </form>
    </div>
  </form>

</div>
{% endblock %}