{% extends "base.html" %}

{% block styles %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block content %}

<div class="container">
  <section class="principal">
    <h1>ASTRA</h1>
    <p>Ambiente de Saberes e Transmissão de Resultados Acadêmicos</p>
  </section>

  <section class="cards">
    <div class="card purple">
      <img src="{{url_for('static', filename='img/icon.svg')}}">
      <h3>Transparência</h3>
      <p>Atuamos com clareza e ética em todas as ações de divulgação.</p>
    </div>

    <div class="card purple">
      <img src="{{url_for('static', filename='img/icon2.svg')}}">
      <h3>Colaboração</h3>
      <p>Promover o trabalho conjunto entre projetos, instituições e pessoas.</p>
    </div>

    <div class="card purple">
      <img src="{{url_for('static', filename='img/icon2.svg')}}">
      <h3>Transformação</h3>
      <p>Acreditamos no poder da visibilidade para gerar evolução e oportunidades.</p>
    </div>
  </section>
</div>

<section class="bg-light">
  <section class="projetos">
    <h2 class="center">Conheça os projetos</h2>
    <div class="carousel-container">
      <div class="carousel">
        <div class="projeto-card">
          <img src="{{url_for('static', filename='img/Nuarte.svg')}}" alt="Nuarte">
          <div class="overlay">
            <h3>Nuarte</h3>
            <p>Estou trabalhando em um projeto de arte com reciclagem! Vai ser uma instalação cheia de esculturas feitas com materiais.</p>
            <a href="#">Saiba mais</a>
          </div>
        </div>
        <div class="projeto-card">
          <img src="{{url_for('static', filename='img/SemeandoCronicas.svg')}}" alt="Semeando Crônicas">
          <div class="overlay">
            <h3>Semeando Crônicas</h3>
            <p>Estou trabalhando em um projeto de arte com reciclagem! Vai ser uma instalação cheia de esculturas feitas com materiais.</p>
            <a href="#">Saiba mais</a>
          </div>
        </div>
        <div class="projeto-card">
          <img src="{{url_for('static', filename='img/ADA.svg')}}" alt="ADA">
          <div class="overlay">
            <h3>ADA</h3>
            <p>Estou trabalhando em um projeto de arte com reciclagem! Vai ser uma instalação cheia de esculturas feitas com materiais.</p>
            <a href="#">Saiba mais</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="lavanda">
  <h1>Conheça mais sobre o ASTRA</h1>
  <a href="#">Saiba mais</a>
</section>

<section class="qas">
  <div class="esquerda">
    <h1>Perguntas frequentes</h1>
    <p>Precisa de ajuda? Fale com um dos nossos especialistas?</p>
    <a href="#">Quero falar com um suporte</a>
  </div>

  <div class="direita">
    <details open>
      <summary>
        <span>Como participar de um projeto?</span>
        <span class="icon">+</span>
      </summary>
      <p>
        Accordion layout de um site é a estrutura visual e a organização
        de todos os elementos...
      </p>
    </details>

    <details>
      <summary>
        <span>Como ganhar uma bolsa no projeto?</span>
        <span class="icon">+</span>
      </summary>
      <p>Conteúdo da resposta aqui.</p>
    </details>

    <details>
      <summary>
        <span>Como submeter um projeto?</span>
        <span class="icon">+</span>
      </summary>
      <p>Conteúdo da resposta aqui.</p>
    </details>

    <details>
      <summary>
        <span>Quem pode participar?</span>
        <span class="icon">+</span>
      </summary>
      <p>Conteúdo da resposta aqui.</p>
    </details>

    <details>
      <summary>
        <span>Onde ver os editais?</span>
        <span class="icon">+</span>
      </summary>
      <p>Conteúdo da resposta aqui.</p>
    </details>

    <details>
      <summary>
        <span>Como ganhar certificado?</span>
        <span class="icon">+</span>
      </summary>
      <p>Conteúdo da resposta aqui.</p>
    </details>

  </div>

</section>

{% endblock %}
